<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>ratingディレクティブ</title>
	<script src="../angular.min.js"></script>
	<script>
		var app = angular.module('app', [])
					.directive('rating', [function($timeout) {
						return {
								restrict: 'E',
								require: 'ngModel',
								scope: {
									max: '=',
									readonly: '='
								},
								link: function(scope, element, attrs, ngModelCtrl) {
									ngModelCtrl.$render = function() {
										updateRate(ngModelCtrl.$viewValue);
									};

									function updateRate(rate) {
										angular.forEach(element.children(), function(child) {
											angular.element(child).off('click');
										});
										element.empty();

										for(var i = 0; i < scope.max; i++) {
											var span = angular.element('<span></span>');
											var star = i < rate ? '★' : '☆';
											span.text(star);

											if(!scope.readonly) {
												span.addClass('changeable');
												(function() {
													var count = i + 1;
													span.on('click', function() {
														scope.$apply(function() {
															ngModelCtrl.$setViewValue(count);
															updateRate(count);
														});
													});
												})();
											}
											element.append(span);
										}
									}

									ngModelCtrl.$formatters.push(function (rate){
										if(rate < 0) {
											return 0;
										} else if(rate > scope.max) {
											return scope.max;
										} else {
											return rate;
										}
									});
								}
							};
					}]);
			app.controller('notificationController', ['$scope', function($scope) {
				$scope.items = [];
				$scope.addMessage = function(message) {
					$scope.items.push({message: message, time: new Date(), enableMessage: true});
				}
			}]);
	</script>
</head>
<body>
	<div ng-controller="notificationController">
		ratingディレクティブ
		<input type="number" ng-model="rate">
		<rating ng-model="rate" max="10"></rating>
	</div>
</body>
</html>